<h1>Listing greg_sucks</h1>

<table>
  <thead>
    <tr>
      <th>Sucks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @greg_sucks.each do |greg_suck| %>
      <tr>
        <td><%= greg_suck.sucks %></td>
        <td><%= link_to 'Show', greg_suck %></td>
        <td><%= link_to 'Edit', edit_greg_suck_path(greg_suck) %></td>
        <td><%= link_to 'Destroy', greg_suck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Greg suck', new_greg_suck_path %>
